/* _mixins.scss */

@mixin gradient ($colorStop1, $colorStop2, $startPoint, $endPoint) {
	background-color: $colorStop2;
	background-image: 		 -webkit-gradient(linear, left $startPoint, left $endPoint, $colorStop1, $colorStop2);	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient($startPoint, $colorStop1, $colorStop2);						/* Chrome10+,Safari5.1+ */
	background-image:	 -moz-linear-gradient($startPoint, $colorStop1, $colorStop2);				/* FF3.6+ */
	background-image: 	  -ms-linear-gradient($startPoint, $colorStop1, $colorStop2);				/* IE10+ */
	background-image: 	   -o-linear-gradient($startPoint, $colorStop1, $colorStop2);						/* Opera 11.10+ */
	background-image: 		  linear-gradient(to $endPoint, $colorStop1, $colorStop2);				/* W3C */
}

@mixin borderRadius ($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
		 -o-border-radius: $radius;
			border-radius: $radius;
}

@mixin oneRoundCorner ($radius, $positionVertical, $positionHoriztonal) {
	-webkit-border-#{$positionVertical}-#{$positionHoriztonal}-radius: $radius;
	   -moz-border-#{$positionVertical}-#{$positionHoriztonal}-radius: $radius;
		-ms-border-#{$positionVertical}-#{$positionHoriztonal}-radius: $radius;
		 -o-border-#{$positionVertical}-#{$positionHoriztonal}-radius: $radius;
			border-#{$positionVertical}-#{$positionHoriztonal}-radius: $radius;
}

@mixin shadow ($x, $y, $size, $spread, $color) {
	-webkit-box-shadow: $x $y $size $spread $color;
	   -moz-box-shadow: $x $y $size $spread $color;
			box-shadow: $x $y $size $spread $color;
}

@mixin insetShadow ($x, $y, $size, $spread, $color) {
	-webkit-box-shadow: inset $x $y $size $spread $color;
	   -moz-box-shadow: inset $x $y $size $spread $color;
			box-shadow: inset $x $y $size $spread $color;
}

@mixin rotate ($degree) {
	-webkit-transform: rotate($degree);
	   -moz-transform: rotate($degree);
		-ms-transform: rotate($degree);
		 -o-transform: rotate($degree);
			transform: rotate($degree);
}

@mixin transition ($property, $speed, $easing, $delay) {
	-webkit-transition: $property $speed $easing $delay;
	   -moz-transition: $property $speed $easing $delay;
		-ms-transition: $property $speed $easing $delay;
		 -o-transition: $property $speed $easing $delay;
			transition: $property $speed $easing $delay;
}

